{% extends "layout.html" %}

{% block title %}
単回帰分析アプリ
{% endblock %}

{% block content %}

<h2>シミュレーションデータ作成</h2>
<h2>x~Norm(μ,σ<sup>2</sup>) <br>
y = ax+b+ε, ε~Norm(0,σ<sub>ε</sub><sup>2</sup>)</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ulr>
    {% for message in messages %}
    <li><span style="color: #B22222;">{{ message }}</span></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<br>

<form method="post" action="/linear">
<table>
    <tr>
        <th align="right">データ数 : </th>
        <td> <input type="number" name="input"> </td>
        <th align="right">μ = </th>
        <td> <input type="number" name="input"> </td>
        <th align="right">σ = </th>
        <td> <input type="number" name="input"> </td>
    </tr>
    <tr>
        <th align="right">a = </th>
        <td> <input type="number" name="input"> </td>
        <th align="right">b = </th>
        <td> <input type="number" name="input"> </td>
        <th align="right">σ<sub>ε</sub> = </th>
        <td> <input type="number" name="input"> </td>
    </tr>
    <th></th>
    <td>
        <input type="submit">
    </td>
</form>
</table>
<br>

{% if post %}

<h2>入力した値</h2>
{{ values }}

<table>
  <tr>
    <th>x~Norm({{values[1]}},{{values[2]}}<sup>2</sup>)</th>
    <th>y = {{a_hat}}x+ {{b_hat}}+ε</th>
  </tr>
  <tr>
    <td><img src="data:image/png;base64,{{ img }}" /></td>
    <td><img src="data:image/png;base64,{{ img2 }}" /></td>
  </tr>
</table>

{% endif %}

{% endblock %}
