{% extends "layout.html" %}

{% block title %}
画像生成アプリ
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ulr>
    {% for message in messages %}
    <li><span style="color: #B22222;">{{ message }}</span></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<br>

<form method="post" action="/image_generate">
<table>
    <tr>
        <th>0から9の数字</th>
        <td> <input type="number" name="number"> </td>
    </tr>
    <tr>
        <th>生成する枚数</th>
        <td> <input type="number" name="n"> </td>
    </tr>
    <th></th>
    <td>
        <input type="submit" value="生成">
    </td>
</form>
</table>
<br>

{% for d in content %} 
        <img src="{{ d }}" style="width: 9%;">
{% endfor %}

{% endblock %}
